@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    /* typography */
    --family: 'Exo 2', sans-serif;
    --fs-xs: 12px;
    --fs-small: 16px;
    --fs-medium: 20px;
    --fs-large: 24px;
    --fs-xl: 28px;
    --fs-xxl: 32px; 
  
    --fw-ultra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-demi-bold: 600;
    --fw-bold: 700;
    --fw-ultra-bold: 800;
    --fw-black: 900;
  }
  
  body {
    width: 100vw;
    height: 100%;
    font-weight: 100;
    background: var(--bg-color)
  }
  
  body[data-theme="dark"] {
    --bg-color: #111111;
    --second-bg-color: #2b2b2b;
    --third-bg-color: #616161;
    --red-color: #ee2222;
    --green-color: #8fdb51;
    --yellow-color: #dbbf51;
    --text-color: #ffffff;
    --second-text-color: #888888;

    --blur-color: rgba(0, 0, 0, 0.7);
    /* --shadow: 0px 8px 15px 0px rgba(55, 55, 55, 0.7); */
  
  
  }
  body[data-theme="light"] {
    --bg-color: #ffffff;
    --second-bg-color: #d6d6d6;
    --third-bg-color: #909090;
    --red-color: #ee2222;
    --green-color: #8fdb51;
    --yellow-color: #dbbf51;
    --text-color: #000000;
    --second-text-color: #363636;

    --blur-color: rgba(255, 255, 255, 0.7);
    /* --shadow: 0px 13px 15px 0px rgba(42, 42, 42, 0.3); */
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }